#post-list {
    line-height: 0;
}

.item {
    width: 33%;
    margin: 0;
}

#post-list img {
    width: 100%;
    opacity: 0.7;
    -moz-backface-visibility: hidden;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#post-list img:hover {
    opacity: 1.0;
    -moz-backface-visibility: hidden;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#post-list .text {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    line-height: normal;

    background: rgba(32, 32, 32, 0.5);

    font-family: 'Source Sans Pro', sans-serif; font-weight:400;
    color: #FFFFFF;
    font-size: 2vw;

    text-shadow: 0 0 1em #000000, 0 0 1em #333333;
    word-wrap: break-word;

    opacity: 0;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


#post-list .item:hover .text {
    visibility: visible;
    opacity: 0.9;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}